/* App.css - הגדרות בסיס בלבד */
/* צריך לשנות בנושא העיצוב:*/
/* להפריד לעמוד של CSS  */
/* כי שרפתי על זה מלא זמן וההגדות התעקשו אז בינתיים זה בצורה מלוכלכת בעמוד של APP.JS */
html, body, #root {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden; /* מונע גלילה מיותרת של כל הדף */
  background-color: #F5F5F5;
}

* {
  box-sizing: border-box; /* מבטיח שמידות לא יתעוותו */
}

/* כל שאר העיצוב נמצא עכשיו בתוך App.js */
